
*{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: whitesmoke;
    height: 100vh;
    background-size: cover;
    /* L-shaped border at the left corner */

}
.main-container::before {
    content: '';
    position: absolute;
    width: 50px; /* Width of the horizontal part of the L */
    height: 50px; /* Height of the vertical part of the L */
    top: 0;
    left: 5%;
    border-left: 7px solid #F7A9B9; /* Set the color and style of the border */
    border-bottom: 7px solid #F7A9B9; /* Set the color and style of the border */
}

/* Zigzag edge at the right corner (Top edge) */


.second-container::before {
    content: "";
    display: block;
    position: absolute;
    left: 90%;
    right: 0;
    height: 12px;
    top: 7%;
    background: linear-gradient(-135deg, #F7A9B9 8px, transparent 0) 0 8px, linear-gradient(135deg, #F7A9B9 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.main-container::after {
    content: "";
    display: block;
    position: absolute;
    left: 90%;
    right: 0;
    height: 16px;
    top: 6.5%;
    background: linear-gradient(-135deg, whitesmoke 8px, transparent 0) 0 8px, linear-gradient(135deg, whitesmoke 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px;

}





/* Zigzag edge at the right corner (Bottom edge) */



.second-container{
    box-shadow:0px 0px 10px grey;
    width:90%;
    height:80%;
    background-color: white;
    padding:8%;
overflow: auto;
}
 


.head{
    color:darkmagenta;
    font-family: roboto;
    font-weight: bold;
    font-size:30px;

}
.list1{
    list-style-type:none;
    width:60%;

}
.item1{
    background-color: rgba(255, 0, 128, 0.059);
   padding:3px;
    padding-left:20px;
    border-radius: 8px;
     width:90%;
    margin-top:10px;
}
.icon{
    color: gold;
}
span{

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:darkmagenta;
    font-size: 12px;
    width:50%;
    margin-left:15px;
}
.para-1{
    color: grey;
    font-family: roboto;
    font-weight: 400;
    
}

.list2{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:50%;
}
.item2{
    background-color:rgb(92, 25, 92);
    color: white;
    font-family: roboto;
    font-size:40%;
    font-weight: 300;
   width:30%;
   height:8rem;
    padding:10px;
    border-radius: 10px;

}
.para2{
    color:red;
}
img{
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-right: 20px;
}

@media screen and (max-width:700px){
    .main-container::before {
        content: '';
        position: absolute;
        width: 30px; /* Width of the horizontal part of the L */
        height: 30px; /* Height of the vertical part of the L */
        top: 0;
        left: 5%;
        border-left: 7px solid #F7A9B9; /* Set the color and style of the border */
        border-bottom: 7px solid #F7A9B9; /* Set the color and style of the border */
    }
    
    /* Zigzag edge at the right corner (Top edge) */
    
    
    .second-container::before {
        content: "";
        display: block;
        position: absolute;
        left: 90%;
        right: 0;
        height: 12px;
        top: 5%;
        background: linear-gradient(-135deg, #F7A9B9 8px, transparent 0) 0 8px, linear-gradient(135deg, #F7A9B9 8px, transparent 0) 0 8px;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px;
    }
    .main-container::after {
        content: "";
        display: block;
        position: absolute;
        left: 90%;
        right: 0;
        height: 16px;
        top: 4.5%;
        background: linear-gradient(-135deg, whitesmoke 8px, transparent 0) 0 8px, linear-gradient(135deg, whitesmoke 8px, transparent 0) 0 8px;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px;
    
    }
    .second-container{
        height:85%;
        width:90%;
       overflow: auto;
    }

    .text-container{
        display: flex;
        flex-direction: column;
    }
    .item1{
        background-color: rgba(255, 0, 128, 0.059);
        padding:4px;
        padding-left:20px;
        border-radius: 8px;
         width:90%;
        margin:10px;
    }
    .list1{
        list-style-type:none;
        width:90%;
    
    }
.list2{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 100%;
}
    .item2{
    font-size: 8px;
    margin: 10px;
    width:150px;
    height:150px;
    padding:10px;

    }
    img{
        border-radius: 50%;
        height:35px;
        width:35px;
        margin-right: 15px;
    }
    .item1{
        background-color: rgba(0,0,0,0.2);
        padding:3px;
        padding-left:5px;
        border-radius: 8px;
        
        margin:5px;
    }
    span{

        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color:darkmagenta;
        font-size: 8px;
        margin-left: 5px;
        width:50%;
    }
    .icon{
        width:10px;
        height:10px;
    }
    .head{
        color:darkmagenta;
        font-family: roboto;
        font-weight: bold;
        font-size: 15px;
    
    }
    .para-1{
        color: grey;
        font-family: roboto;
        font-weight: 400;
        font-size: 8px;
        
    }
}